.header__logo {
    padding-top: 45px;
    display: block;
    width: 143px;
    height: 34px;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        padding: 28px 0 0 27px;
        width: 104px;
        height: 25px;
    }
}