@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__job/profile__job.css);
@import url(./__btn/profile__btn_edit.css);
@import url(./__btn/profile__btn_add.css);

.profile {
    margin: 38px auto 0;
    width: 882px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .profile {
        padding: 0 90px;
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        padding: 0;
        margin-top: 42px;
        width: 282px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}