.profile__btn_action-edit {
    outline: none;
    margin-bottom: 13px;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-color: #000;
    background-image: url(../../../../images/profile/edit_button.svg);
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: 1 / 2 / 1 / 2;
    align-self: end;
    transition: 0.4s;
    cursor: pointer;
}

.profile__btn_action-edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__btn_action-edit {
        margin: 0;
        width: 18px;
        height: 18px;
        align-self: center;
    }
}