.header {
    margin: 0 auto;
    padding-top: 45px;
    width: 100%;
    max-width: 882px;
    height: 76px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 767px) {
    .header {
        padding: 28px 0 0 27px;
    }
}