@import url(./__logo/header__logo.css);

.header {
    margin: 0 auto;
    height: 120px;
    width: 882px;
    border-bottom: 1px solid #545454;;
}

@media screen and (max-width: 1023px) {
    .header {
        width: 100%;
        height: 84px;
    }
}