.popup__btn_close {
    outline: none;
    border: none;
    position: absolute;
    width: 32px;
    height: 33px;
    top: -32px;
    right: -32px;
    background-image: url(../../../image/popup/Close_Icon.png);
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.6s;
}

.popup__btn_close:hover {
    transform: scale(1.1);
}