.element__description {
    padding: 0 15px 0 21px;
    height: 79px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}