.popup__btn_action-dell {
    margin-top: 38px;
    outline: none;
    border: none;
    width: 358px;
    height: 51px;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: 0.6s;
    cursor: pointer;
}