.popup__btn_action-close {
    outline: none;
    border: none;
    position: absolute;
    width: 32px;
    height: 33px;
    top: -32px;
    right: -32px;
    background-image: url(../../../../images/popup/Close_Icon.svg);
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.4s;
    cursor: pointer;
}

.popup__btn_action-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__btn_action-close {
        padding: 0;
        top: -23px;
        right: -23px;
        width: 23px;
        height: 23px;
        background-size: cover;
    }
}