.popup__container {
    position: relative;
    padding: 34px 36px 36px 36px;
    width: 430px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    z-index: 4;
}

@media screen and (max-width: 767px) {
    .popup__container {
        padding: 20px 20px 20px 20px;
        width: 270px;
    }
}