.profile__info {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content min-content;
    grid-template-areas: 
    "name edit-btn"
    "job job";
    grid-gap: 8px 17px;
}

@media screen and (max-width: 767px) {
    .profile__info {
        grid-gap: 9px 0;
    }
}