.popup-add__form {
    margin-top: 50px;
}

.popup-add__form :nth-child(2) {
    margin-top: 27px;
}

@media screen and (max-width: 767px) {
    .popup-add__form {
        margin-top: 10px;
    }
    .popup-add__form :nth-child(2) {
        margin-top: 10px;
    }
}