
@import url(./__copyright/footer__copyright.css);

.footer {
    margin: 0 auto;
    height: 144px;
    width: 882px;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 100%;
        padding: 0 90px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 0;
        width: 282px;
        height: 98px;
    }
}