@import url(./__description/element__description.css);
@import url(./__image/element__image.css);
@import url(./__title/element__title.css);
@import url(./__like/element__like.css);

.element {
    position: relative;
    margin-top: 21px;
    width: 282px;
    height: 361px;
    border-radius: 10px;
    overflow: hidden;
}

.element:nth-of-type(-n+3) {
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .element {
        margin-top: 20px;
    }

    .element:nth-of-type(-n+3) {
        margin-top: 20px;
    }

}

@media screen and (max-width: 1023px) {
    .element {
        margin-top: 20px;
    }
    .element:nth-of-type(-n+3) {
        margin-top: 20px;
    }

}